<!--The content below is only a placeholder and can be replaced.-->
  <body>
    <!--Feature 1 - Flights per month-->
    <div id="chartContainer1" style="height: 400px; width: 600px; margin-left:auto;margin-right:auto;"></div>

    <!--Feature 2 - Flights per month from origins-->
    <div id="chartContainer2Frequency" style="height: 400px; width: 600px; margin-left:auto;margin-right:auto;"></div>
    <div id="chartContainer2Stacked" style="height: 400px; width: 600px; margin-left:auto;margin-right:auto;"></div>
    <div id="chartContainer2StackedPercentage" style="height: 400px; width: 600px; margin-left:auto;margin-right:auto;"></div>

    <!--Feature 3 - Top 10 destinations-->
    <p *ngIf="!flightsToTopTenDestinations"><em>Loading...</em></p>

    <table class='table' *ngIf="flightsToTopTenDestinations">
      <thead>
        <tr>
          <th>Destination</th>
          <th>Number of flights</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of flightsToTopTenDestinations | getValues">
          <td>{{ item.key }}</td>
          <td>{{ item.val }}</td>
        </tr>
      </tbody>
    </table>

    <div id="chartContainer3" style="height: 400px; width: 600px; margin-left:auto;margin-right:auto;"></div>

    <!--Feature 4 - Mean airtime for origins-->
    <p *ngIf="!meanAirtimeForOrigins"><em>Loading...</em></p>

    <table class='table' *ngIf="meanAirtimeForOrigins">
      <thead>
        <tr>
          <th>Origin</th>
          <th>Mean airtime (hh:mm:ss)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of meanAirtimeForOrigins | getValues">
          <td>{{ item.key }}</td>
          <td>{{ item.val }}</td>
        </tr>
      </tbody>
    </table>

    <!--Feature 5 - Weather observations for origins-->
    <p *ngIf="!weatherObservationsForOrigins"><em>Loading...</em></p>

    <table class='table' *ngIf="weatherObservationsForOrigins">
      <thead>
        <tr>
          <th>Origin</th>
          <th>Number of weather observations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of weatherObservationsForOrigins | getValues">
          <td>{{ item.key }}</td>
          <td>{{ item.val }}</td>
        </tr>
      </tbody>
    </table>

    <!--Feature 6 - Temperature attributes for origins-->
    <div id="chartContainer6" style="height: 500px; width:1000px; margin-left:auto;margin-right:auto;"></div>

    <!--Feature 7 - Temperatures for JFK-->
    <div id="chartContainer7" style="height: 500px; width:1000px; margin-left:auto;margin-right:auto;"></div>

    <!--Feature 8 - Daily mean temperature for JFK-->
    <div id="chartContainer8" style="height: 500px; width:1000px; margin-left:auto;margin-right:auto;"></div>

    <!--Feature 9 - Daily mean temperature for origins-->
    <div id="chartContainer9" style="height: 500px; width:1000px; margin-left:auto;margin-right:auto;"></div>

    <!--Feature 10 - Mean departure and arrival delays for origins-->
    <p *ngIf="!meanDepartureAndArrivalDelaysForJFK"><em>Loading...</em></p>

    <p>Delays for JFK</p>
    <table class='table' *ngIf="meanDepartureAndArrivalDelaysForJFK">
      <thead title="Delays for JFK">
        <tr>
          <th>Delay type</th>
          <th>Value (hh:mm:ss)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of meanDepartureAndArrivalDelaysForJFK | getValues">
          <td>{{ item.key }}</td>
          <td>{{ item.val }}</td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="!meanDepartureAndArrivalDelaysForEWR"><em>Loading...</em></p>

    <p>Delays for EWR</p>
    <table class='table' *ngIf="meanDepartureAndArrivalDelaysForEWR">
      <thead title="Delays for EWR">
        <tr>
          <th>Delay type</th>
          <th>Value (hh:mm:ss)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of meanDepartureAndArrivalDelaysForEWR | getValues">
          <td>{{ item.key }}</td>
          <td>{{ item.val }}</td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="!meanDepartureAndArrivalDelaysForLGA"><em>Loading...</em></p>

    <p>Delays for LGA</p>
    <table class='table' *ngIf="meanDepartureAndArrivalDelaysForLGA">
      <thead title="Delays for LGA">
        <tr>
          <th>Delay type</th>
          <th>Value (hh:mm:ss)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of meanDepartureAndArrivalDelaysForLGA | getValues">
          <td>{{ item.key }}</td>
          <td>{{ item.val }}</td>
        </tr>
      </tbody>
    </table>

  </body>
