<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <!-- <div class="container"> -->
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="row" style="margin-top: 1em;">
                            <div class="col-2">
                                <mat-icon>flight_takeoff</mat-icon>
                            </div>
                            <div class="col-8">
                                <h3>Flights</h3>
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem" class="clickable" routerLink="total-flights">Total Flights/Month</mat-list-item>
                    <mat-list-item role="listitem" class="clickable" routerLink="monthly-flights">Monthly Flights/Origin</mat-list-item>
                    <mat-list-item role="listitem" class="clickable" routerLink="top-destinations">Top 10 Destinations</mat-list-item>
                    <mat-list-item role="listitem" class="clickable" routerLink="mean-air-time">Mean Air Time</mat-list-item>
                    <mat-list-item role="listitem" class="clickable" routerLink="mean-delay">Mean Dep. & Arrival Delay</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="row" style="margin-top: 1em;">
                            <div class="col-2">
                                <mat-icon>wb_sunny</mat-icon>
                            </div>
                            <div class="col-8">
                                <h3>Weather</h3>
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem" class="clickable" routerLink="all-temperatures">All Measured Temperatures</mat-list-item>
                    <mat-list-item role="listitem" class="clickable" routerLink="daily-mean-temp">Daily Mean Temperatures</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="row" style="margin-top: 1em;">
                            <div class="col-2">
                                <mat-icon>flight</mat-icon>
                            </div>
                            <div class="col-8">
                                <h3>Planes</h3>
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-list role="list">
                    <mat-list-item role="listitem" class="clickable" routerLink="big-manufacturers">Big Manufacturers</mat-list-item>
                    <mat-list-item role="listitem" class="clickable" routerLink="flights-per-manufacturer">Flights/Big Manufacturers</mat-list-item>
                    <mat-list-item role="listitem" class="clickable" routerLink="airbus-models">Air Bus Models</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
